# Build outputs
out/
coverage.xml
test-results.xml
*.nupkg

# PowerShell
*.ps1.xml
*.psm1.xml

# IDE
.vscode/settings.json
.vscode/launch.json
.idea/
*.suo
*.user

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temp
*.tmp
*.log

*.dump.txt
